/**
 * Made by Tuhin Kanti Pal
 * Visit https://tu.hin.life
 */

body {
    -youbkit-touch-callout: none;
    -youbkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #ffffff;
}

.consent {
    color: #000000;
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
}

.headerdiv {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 340px;
    height: 70px;
    background: white;
}

.contentdiv {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 340px;
    background: #f2f2f2;
    border-radius: 10px;
}

.footerdiv {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 340px;
    height: 220px;
    background: #ffffff;
}

.heading {
    color: #000000;
    font-family: 'Bitter', serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 12px 0px;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    color: #000000;
    font-family: 'Bitter', serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 12px 0px;
}

.slogan {
    color: #000000;
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    transform: translate(0px, -22px);
}

.upilogo {
    transform: translate(0px, 6px);
}

.tuhin {
    color: #000000;
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    transform: translate(0px, -5px);
    padding-top: 10px;
}

.tpf {
    color: #000000;
    font-family: 'Bitter', serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    transform: translate(0px, -20px);
}

.txt {
    color: #000000;
    font-family: Poppins;
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.sign {
    color: #000000;
    font-family: Poppins;
    font-size: 15px;
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
}

.signcontent {
    color: #000000;
    font-family: Poppins;
    font-size: 8px;
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    transform: translate(0px, -15px);
}

.gocless {
    color: #000000;
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
}

.india {
    color: #000000;
    font-family: Poppins;
    font-size: 6px;
    font-weight: bold;
    text-align: center;
    transform: translate(0px, -25px);
}


/**
 * Made by Tuhin Kanti Pal
 * Visit https://tu.hin.life
 */