/**
 * Made by Tuhin Kanti Pal
 * Visit https://tu.hin.life
 */

body {
	-youbkit-touch-callout: none;
	-youbkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #ffffff;
}

.headerdiv {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 340px;
	height: 58px;
	background: white;
	border-radius: 0px;
}

.contentdiv {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 340px;
	background: #000000;
	border-radius: 10px;
}

.nothingdiv {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 340px;
	height: 200px;
	background: #000000;
	border-radius: 10px;
}

.footerdiv {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 340px;
	height: 220px;
	background: #ffffff;
}

.heading {
	color: #000000;
	font-family: Poppins;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	padding: 12px 0px;
}

.plusicon {
	transform: translate(305px, -68px);
}

.qrsvg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 6%;
}

.smalltext {
	color: #000000;
	font-family: Poppins;
	font-size: 6px;
	font-weight: bold;
	text-align: center;
	transform: translate(0px, -22px);
	padding-bottom: 15px;
}

.payingtext {
	color: #ffffff;
	font-family: Krona One;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}

.vpatext {
	color: #ffffff;
	font-family: Krona One;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

.paybutton {
	background: linear-gradient(to bottom, #ffffff 5%, #f2f2f2 100%);
	background-color: #ffffff;
	border-radius: 8px;
	border: 2px solid #ffffff;
	display: inline-block;
	cursor: pointer;
	color: #000000;
	font-family: Poppins;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 57px;
	text-decoration: none;
	transform: translate(0px, 25px);
}

.paybutton:hover {
	background: linear-gradient(to bottom, #f2f2f2 5%, #ffffff 100%);
	background-color: #f2f2f2;
}

.paybutton:active {
	position: relative;
	top: 1px;
}

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	color: #000000;
	font-family: 'Bitter', serif;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 12px 0px;
}

.slogan {
	color: #000000;
	font-family: Poppins;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	transform: translate(0px, -22px);
}

.upilogo {
	transform: translate(0px, 6px);
}

.tuhin {
	color: #000000;
	font-family: Poppins;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	transform: translate(0px, -5px);
	padding-top: 10px;
}

.logowhite {
	color: #ffffff;
	font-family: 'Bitter', serif;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 12px 0px;
}

.errtxt {
	color: #ffffff;
	font-family: Poppins;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.tpf {
	color: #000000;
	font-family: 'Bitter', serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	transform: translate(0px, -20px);
}


/**
 * Made by Tuhin Kanti Pal
 * Visit https://tu.hin.life
 */